#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 80px;
}

.app-root main {
  flex: 1;
}

@media (max-width: 768px) {
  .app-root {
    padding-top: 60px;
  }
}

.read-the-docs {
  color: var(--color-texto-secundario);
}
