#root {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF5E1;
  min-height: 100vh;
}

html, body {
  background-color: #FFF5E1;
  margin: 0;
  padding: 0;
}

.app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FFF5E1;
}

.app-root main {
  flex: 1;
}

.read-the-docs {
  color: var(--color-texto-secundario);
}
